[submodule "ack-and-a-half"]
    path  = ack-and-a-half-pack/lib/ack-and-a-half
    url   = https://github.com/jhelwig/ack-and-a-half.git
[submodule "change-inner"]
    path  = change-inner-pack/lib/change-inner
    url   = https://github.com/magnars/change-inner.el.git
[submodule "expand-region"]
    path  = expand-regions-pack/lib/expand-region
    url   = https://github.com/magnars/expand-region.el.git
[submodule "git-gutter-fringe"]
    path  = git-gutter-fringe-pack/lib/git-gutter-fringe
    url   = https://github.com/syohex/emacs-git-gutter-fringe.git
[submodule "emacs-git-gutter"]
    path  = git-gutter-pack/lib/emacs-git-gutter
    url   = https://github.com/syohex/emacs-git-gutter.git
[submodule "git-emacs"]
    path  = git-mode-pack/lib/git-emacs
    url   = https://github.com/tsgates/git-emacs.git
[submodule "ido-ubiquitous"]
    path  = ido-ubiquitous-pack/lib/ido-ubiquitous
    url   = https://github.com/DarwinAwardWinner/ido-ubiquitous
[submodule "magit"]
    path  = magit-pack/lib/magit
    url   = https://github.com/magit/magit.git
[submodule "minimap"]
    path  = minimap-pack/lib/minimap
    url   = https://github.com/dustinlacewell/emacs-minimap.git
[submodule "multiple-cursors"]
    path  = multiple-cursors-pack/lib/multiple-cursors
    url   = https://github.com/magnars/multiple-cursors.el.git
[submodule "pivotal-tracker"]
    path  = pivotal-tracker-pack/lib/pivotal-tracker
    url   = https://github.com/jxa/pivotal-tracker.git
[submodule "rspec"]
    path  = rspec-pack/lib/rspec
    url   = https://github.com/pezra/rspec-mode.git
[submodule "rvm"]
    path  = rvm-pack/lib/rvm
    url   = https://github.com/senny/rvm.el.git
[submodule "simp"]
    path  = simp-pack/lib/simp
    url   = https://github.com/re5et/simp.git
[submodule "yard-mode"]
    path  = yard-mode-pack/lib/yard-mode
    url   = https://github.com/pd/yard-mode.el.git
[submodule "phi-search"]
    path  = phi-search-pack/lib/phi-search
    url   = https://github.com/zk-phi/phi-search.git
